doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Project greenfield
    link(rel='stylesheet', href='/styles/main.css')
  body
    block content
    script(src="scripts/main.js")
